@import "tailwindcss";

@theme {
  --font-display: "Courier New", monospace;
  --color-neon-purple: #b026ff;
  --color-neon-blue: #00e9ff;
  --color-dark-grid: #0f0518;
}

body {
  @apply bg-slate-900 text-white font-mono overflow-hidden;
  background-color: var(--color-dark-grid);
  background-image: 
    linear-gradient(rgba(176, 38, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(176, 38, 255, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
